<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Chronic Kidney Disease Prediction</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> 

</head>
<body class="font-sans antialiased leading-normal tracking-wider bg-no-repeat bg-cover backdrop-blur-sm" style="background-image:url('{{ url_for('static', filename='background.png')}}');">
<!-- <img src={{ url_for('static', filename='background.png')}}></img> -->
    <a href="index.html" class="px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-md" aria-current="page">HOME</a>

    <a href="prediction.html" class="px-3 py-2 text-sm font-medium text-white rounded-md hover:bg-gray-700 hover:text-white">PREDICTION</a>

<br>
    <div class="flex justify-center font-serif text-5xl italic font-extrabold text-center text-purple-900 pt-60">
        EARLY<br> CHRONIC KIDNEY DISEASE <br> PREDICTION<br> USING MACHINE LEARNING
    </div>

</body>
</html>